version: "3"
services:
  redis:
    image: redis:alpine
    expose:
      - "6379"
    # volumes:
    #   - //docker/configs/redis/redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - ecshop
  memcached:
    image: memcached:alpine
    expose:
      - "11211"
    networks:
      - ecshop
  mysql:
    image: mysql
    environment: 
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=ecshop
      - MYSQL_USER=huiyee
      - MYSQL_PASSWORD=huiyee
    volumes:
      - //docker/configs/mysql:/etc/mysql/conf.d
      - db-data:/var/lib/mysql
    deploy:
      placement:
        constraints: [node.role == manager]
    expose:
      - "3306"
    networks:
      - ecshop
    restart: unless-stopped
  phpfpm:
    build:
      context: .
      dockerfile: php.Dockerfile
    image: phpfpm-mysql:v1.0
    volumes:
      - //docker/html:/var/www/html
      - //docker/configs/php:/var/lib/php
    links:
      - mysql:mysql
      - redis:redis
      - memcached:memcached
    expose:
      - "9000"
    networks:
      - ecshop
    restart: unless-stopped
  nginx:
    image: nginx:alpine
    depends_on:
      - mysql
      - phpfpm
    volumes:
      - //docker/html:/var/www/html
      - //docker/configs/nginx:/etc/nginx/conf.d
    links:
      - phpfpm:phpfpm
    expose:
      - "80"
    ports:
      - "80:80"
    networks:
      - ecshop
    restart: unless-stopped
networks:
  ecshop:
    driver: bridge
volumes:
  db-data:
    driver: local
